<!DOCTYPE html>
<html lang="ru">
@@include("../includes/_head.html")

<body>
    <div class="wrapper">
        @@include("../includes/_special.html")
        @@include("../includes/_header.html")
        <main>
            <div class="page">
                <div class="container">
                    <h1 class="page__title">Электромонтер</h1>
                    <div class="page__body">
                        <div class="page__img">
                            <img src="img/img13.jpg" alt="">
                        </div>
                        <div class="page__text">
                            <p>Курс обучения предназначен для освоения новой профессии, профессиональной переподготовки и повышения квалификации рабочих по специальности Электромонтер по ремонту и обслуживанию электрооборудования. В ходе обучения будут изучены требования по охране труда, промышленной безопасности, электробезопасности, изложенные в производственной инструкции электромонтера по обслуживанию электрооборудования грузоподъемных кранов, руководство по эксплуатации кранов (в части касающейся электрооборудования), устройство электродвигателей, измерительных приборов, коммутационной и пусконаладочной и другой аппаратуры.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @@include("../includes/_footer.html")
    </div>
    <!-- build:js-->
    <script src="js/scripts.js"></script>
    <!-- endbuild-->
</body>

</html>
