<!DOCTYPE html>
<html lang="ru">
@@include("../includes/_head.html")

<body>
    <div class="wrapper">
        @@include("../includes/_special.html")
        @@include("../includes/_header.html")
        <main>
            <div class="page">
                <div class="container">
                    <h1 class="page__title">Пожарная безопасность</h1>
                    <div class="page__body">
                        <div class="page__img">
                            <img src="img/img1.jpg" alt="">
                        </div>
                        <div class="page__text">
                            <p>С 1 марта 2022 года вступили в силу новые правила и программы обучения мерам пожарной безопасности работников, в связи с вступившим в силу Приказом МЧС РФ от 18 ноября 2021 года №806. В соответствии с этим Постановление Правительства РФ от 16.09.2020 N 1479 "Об утверждении Правил противопожарного режима в Российской Федерации" признано утратившим силу. Теперь работники, ответственные за пожарную безопасность, должны получить дополнительное профессиональное образование или пройти повышение квалификации по пожарной безопасности.</p>
                            <p>Для организаций вводится два типа обучения по пожарной безопасности — противопожарный инструктаж для всего персонала и командированных лиц, а также дополнительное профессиональное образование (ДПО) для установленных категорий сотрудников.</p>
                            <a class="page__file" href="/doc/prog_fire.pdf" download="Программа_пожарная_безопасность"><span>Дополнительная общеобразовательная общеразвивающая программа «Обеспечение пожарной безопасности для руководителей и ответственных лиц, эксплуатирующих и управляющих организаций, осуществляющих хозяйственную деятельность»</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @@include("../includes/_footer.html")
    </div>
    <!-- build:js-->
    <script src="js/scripts.js"></script>
    <!-- endbuild-->
</body>

</html>
