<!DOCTYPE html>
<html lang="ru">
@@include("../includes/_head.html")

<body>
    <div class="wrapper">
        @@include("../includes/_special.html")
        @@include("../includes/_header.html")
        <main>
            @@include("../includes/_hero.html")
            @@include("../includes/_about.html")
            @@include("../includes/_prof.html")
            @@include("../includes/_feat.html")
        </main>
        @@include("../includes/_footer.html")
    </div>
    <!-- build:js-->
    <script src="js/scripts.js"></script>
    <!-- endbuild-->
</body>

</html>
