<!DOCTYPE html>
<html lang="ru">
@@include("../includes/_head.html")

<body>
    <div class="wrapper">
        @@include("../includes/_special.html")
        @@include("../includes/_header.html")
        <main>
            <div class="page">
                <div class="container">
                    <h1 class="page__title">Оператор ГНБ</h1>
                    <div class="page__body">
                        <div class="page__img">
                            <img src="img/img3.jpg" alt="">
                        </div>
                        <div class="page__text">
                            <p>Задачи оператора установки ГНБ включают определение глубины бурения, понимание механики работы прокольной установки, умение устранить ее неисправности и весь процесс горизонтального бурения.</p>
                            <p>Мы регулярно проводим курсы для тех, кто хочет овладеть профессией оператора мини ГНБ установки. Обучение проводим на своём или Вашем оборудовании. В курс включены теоретическая часть и практика на реальном объекте, либо нашем, либо на объекте Вашего заказчика.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @@include("../includes/_footer.html")
    </div>
    <!-- build:js-->
    <script src="js/scripts.js"></script>
    <!-- endbuild-->
</body>

</html>
