<!DOCTYPE html>
<html lang="ru">
@@include("../includes/_head.html")

<body>
    <div class="wrapper">
        @@include("../includes/_special.html")
        @@include("../includes/_header.html")
        <main>
            <div class="page">
                <div class="container">
                    <h1 class="page__title">Монтажник трубопровода</h1>
                    <div class="page__body">
                        <div class="page__img">
                            <img src="img/img7.jpg" alt="">
                        </div>
                        <div class="page__text">
<p>Курс обучения предназначен для профессиональной подготовки, переподготовки и повышения квалификации рабочих по профессии Монтажник технологических трубопроводов. В ходе обучения будут изучены правила выполнения укладки и монтажа элементов каналов, сборных коллекторов, колодцев и камер, выполнения подготовки к монтажу наружных трубопроводов, принципы подготовки труб к монтажу, правила осуществления монтажа технологических трубопроводов.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        @@include("../includes/_footer.html")
    </div>
    <!-- build:js-->
    <script src="js/scripts.js"></script>
    <!-- endbuild-->
</body>

</html>
