.header {
    padding: 20px 0;

    &__container {
        display: flex;
        align-items: center;
        gap: 24px;
        position: relative;

        @media (max-width: 1020px) {
            flex-direction: column;
        }
    }

    &__logo {
        width: 240px;

        @media (max-width: 1020px) {
            width: 180px;
        }
    }

    &__contacts {
        margin-left: auto;

        @media (max-width: 1020px) {
            margin: 0 auto;
            text-align: center;
        }
    }

    &__link {
        font-weight: 700;
        color: #000;
        font-size: 24px;
        text-decoration: none;
        display: block;

        &--email {
            font-size: 20px;
            margin-top: 12px;
        }
    }

    &__eye {
        position: absolute;
        top: 0;
        left: 0;
    }
}
