$font-stack-sans-serif: 'Open Sans', "Segoe UI", roboto, "Helvetica Neue", helvetica, arial, sans-serif;
$font-stack-serif: georgia, times, "Times New Roman", serif;

$font-family-base: $font-stack-sans-serif;
$font-size-root: 18px;

$font-base: 400 $font-size-root $font-stack-sans-serif;

$main-color: #000;

$laptop: 1171px;
$tablet: 769px;
$max: 641px;
